@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-play: "Playwrite AU NSW", cursive;
  --color-primary: #14b8a6;
  --color-primary-light: #2dd4bf;
  --color-secondary: #64748b;
  --color-secondary-light: #94a3b8;
  --color-dark: #0f172a;
}

@layer components {
  .animate-loop-scroll {
    animation: var(--animate-loop-scroll);
  }
  .hamburger-line {
    @apply w-[30px] h-[4px] my-2 block bg-dark rounded-full;
  }

  .hamburger-active > span:nth-child(1) {
    @apply rotate-45 -mb-[2px];
  }

  .hamburger-active > span:nth-child(2) {
    @apply scale-0 opacity-0;
  }

  .hamburger-active > span:nth-child(3) {
    @apply -rotate-45 -mt-[2px];
  }
}
